<h2>Repository List</h2>
<div class="row">
    <div class="col-md-6">
        <!--Allow filtering of your repo through text search and private/public repos.-->
        <accordion>
            <accordion-group heading="{{ repo.name }}" ng-repeat="repo in repos | filter: searchText | filter: privateRepos | filter: publicRepos" heading>
                <div>
                    <a href="#/repos/{{ repo.owner.login }}/{{ repo.name }}">{{ repo.name }}</a>
                    <button data-ng-click="repoDescription();">See Description</button>
                    <div ng-show="description">
                        <div ng-switch="repo">
                            <div ng-switch-when="repo.description">
                                <p>Repo Description: {{ repo.description }}</p>
                            </div>
                            <div ng-switch-default>
                                <p>Repo Description: No description available</p>
                            </div>
                        </div>
                        <div ng-switch="repo">
                            <div ng-if="repo.private == true">
                               <p>Repo Type: Private</p>
                            </div>
                            <div ng-if="repo.private == false">
                                <p>Repo Type: Public</p>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <!-- Filter Inputs -->
    <div class="col-md-6">
        <span>Search Repositories</span>
        <input type="text" placeholder="Search Text" ng-model="searchText">
        <br>
        <span>Only Public Repos</span><input type="checkbox" ng-model="isPublic">
        <br>
        <span>Only Private Repos</span><input type="checkbox" ng-model="isPrivate">
    </div>
</div>
